/* 인기레시피 사진, 내용 */
.issue_content {
  width: 100%;
  min-width: 1350px;
  height: auto;
  /* background-color: rgb(110, 85, 51); */
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_in {
  width: 1350px;
  height: auto;
  /* background-color: burlywood; */
  /* display: flex; */
  /* justify-content: center;
        align-items: center; */
}
.content_switch {
  width: 1350px;
  height: 100px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.content_switch div {
  width: 1350px;
  height: 40px;
  /* background-color: #fff; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_switch div strong {
  font: 18px;
  color: #f64646;
}
.content_switch div p {
  margin-left: 30px;
  font-size: 18px;
}
.content_switch div ul li {
  float: left;
  /* background-color: aqua; */
  font-size: 18px;
  margin-right: 30px;
}
.content_switch div ul li input {
  border: 0;
  background: transparent;
  font-size: 18px;
}
.check {
  font-weight: bolder;
}
.content_in > ul {
  margin: 0 auto;
  width: 1350px;
  height: auto;
  /* background-color: rgb(247, 145, 20); */
}
.content_in > ul > li {
  float: left;
  width: 305px;
  height: 330px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 45px;
  /* background-color: #fff; */
}
/* 하단 리스트 버튼 */
.content_list {
  width: 1350px;
  height: 100px;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.content_list > div {
  width: 1350px;
  height: 40px;
  /* background-color: #fff; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2%;
}
.content_list input {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  color: #666;
  text-align: center;
  border: 0;
  background: transparent;
}
.arrow_btn {
  border: 0;
  background: transparent;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.arrow_btn label {
  font-size: 28px;
  padding-top: 20px;
}

.arrow_btn_back {
  border: 0;
  background: transparent;
  width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.content_list .on {
  background-color: #ea153a;
  color: #fff;
}
