.issue {
  width: 100%;
  height: 280px;
  background-color: aqua;
}
/* 인기레시피 메뉴바 */
.issue_bar {
  width: 100%;
  height: 280px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.second_sch {
  display: flex;
  width: 740px;
  height: 70px;
  justify-content: flex-end;
}
.second_sch > input {
  width: 600px;
  background: transparent;
  font-size: 28px;
  color: #333;
  font-weight: bolder;
  border: 0;
  border-bottom: 2px solid #888;
  padding-left: 3%;
}
.second_sch > button {
  border: 0;
  cursor: pointer;
}
.hash {
  padding-top: 4%;
}
.hash li {
  float: left;
  width: auto;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  margin-right: 10px;
  margin-bottom: 8px;
}
.hash li:hover {
  background-color: #f64646;
}
.hash li:hover > a {
  background-color: #f64646;
  color: #fff;
}
.hash li input {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.hash li:hover > input {
  background-color: #f64646;
  color: #fff;
}
/* 검색내용 */
.content {
  width: 100%;
  height: auto;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_in {
  /* padding-top: 2%; */
  width: 1340px;
  height: auto;
  background-color: wheat;
}
.sch_result {
  width: 1340px;
  height: 117px;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sch_result h2::before {
  display: inline-block;
  content: "";
  width: 1340px;
  border-top: 2px solid #f64646;
  padding-bottom: 3%;
}
.sch_result h2 {
  text-align: center;
  font-size: 30px;
  color: #f64646;
}
.sch_result span {
  color: #333;
}

.content_in > ul > div {
  float: left;
  width: 305px;
  height: 330px;
  background-color: aliceblue;
  margin-bottom: 45px;
  margin-left: 15px;
  margin-right: 15px;
}
.content_switch {
  width: 1340px;
  height: 100px;
  background-color: blue;
  display: flex;
  align-items: center;
  padding-top: 3%;
}
.content_switch div {
  width: 1340px;
  height: 40px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content_switch div strong {
  font: 18px;
  color: #f64646;
}
.content_switch div p {
  margin-left: 30px;
  font-size: 18px;
}
.content_switch div ul li {
  float: left;
  /* background-color: aqua; */
  font-size: 18px;
  margin-right: 30px;
}
.content_switch div ul li input {
  border: 0;
  background: transparent;
  font-size: 18px;
}
.check {
  font-weight: bolder;
}
.content_in > ul {
  margin: 0 auto;
  width: 1340px;
  height: auto;
  background-color: rgb(247, 145, 20);
}
/* 검색결과가 없을 경우 */
.none {
  width: 1340px;
  height: 350px;
  background-color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.none > div {
  padding-top: 2%;
  text-align: center;
}
.none img {
  width: 88px;
  height: 69px;
  background: transparent;
}
.none p {
  padding-top: 7%;
  font-size: 18px;
  color: #333;
}
