.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 105px;
  background: linear-gradient(to right, #bf132b, #f64646);
}
.header_in {
  width: 1350px;
  height: 170px;
  /* background-color: antiquewhite; */
}
/* 헤더상단 */
.header_in_top {
  display: flex;
  align-items: center;
  width: 1350px;
  height: 105px;
  /* background-color: coral; */
}
.header_in_top .logo {
  width: 240px;
  height: 105px;
  background: transparent;
  display: flex;
  align-items: center;
}
.header_in_top .logo img {
  width: 240px;
  height: 66px;
}
/* 검색창 */
.header_in_top .search {
  width: 1110px;
  height: 105px;
  /* background-color: chartreuse; */
  display: flex;
  align-items: flex-end;
}
.header_in_top .search_bar {
  width: 860px;
  height: 66px;
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1%;
  padding-left: 50px;
}
.header_in_top .search_bar input {
  background: transparent;
  width: 578px;
  height: 45px;
  border: 0;
  border-bottom: 2px solid #fff;
  font-size: 21px;
  font-weight: 500;
  color: #fff;
  padding-bottom: 8px;
}
.header_in_top .search_bar .sch_btn {
  background: transparent;
  border: 0;
  cursor: pointer;
}
input::placeholder {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -1px;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header_in_top .search_bar label {
  width: 37px;
  height: 39px;
  margin-left: -7%;
  margin-top: -1.5%;
  cursor: pointer;
}

.header_in_top .search .hash {
  width: 250px;
  height: 105px;
  /* background-color: aqua; */
  display: flex;
  align-items: center;
}
.header_in_top .search .hash ul {
  width: 250px;
  height: 66px;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_in_top .search .hash ul li {
  margin-left: 10%;
}
.header_in_top .search .hash ul li input {
  border: 0;
  background: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.header_in_top .search .hash ul li a:hover {
  text-decoration: underline;
}
/* 헤더하단 */
.header_b {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 65px;
  background-color: #fff;
  border-bottom: 1px solid #d5d5d5;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 4%);
}
.header_in_bottom {
  width: 1350px;
  height: 65px;
  display: flex;
  /* background-color: orange; */
  background-color: #fff;
}
.header_in_bottom .nav {
  display: flex;
  width: 650px;
  height: 65px;
  align-items: center;
  /* background-color: blue; */
}
.header_in_bottom .nav > ul {
  width: 600px;
}
.header_in_bottom .nav ul li:first-child {
  padding-top: 3%;
  margin-right: 1%;
}
.header_in_bottom .nav > ul > li {
  float: left;
  margin-right: 5%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
}
.header_in_bottom .nav ul li a {
  font-weight: bold;
  color: #222;
  letter-spacing: -1.5px;
  font-size: 22px;
  text-align: center;
}
.header_in_bottom .nav ul li a:hover {
  color: #f64646;
}
/* 카테고리 마우스 커서 올렸을때 */
.header_in_bottom .nav ul li:nth-child(2):hover > .ctg_hover {
  display: block;
}
.ctg_hover {
  letter-spacing: -1.5px;
  position: absolute;
  margin: 14px -40px;
  display: none;
  width: 360px;
  height: 470px;
  box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
.ctg_hover .ctg_list {
  display: flex;
  width: 360px;
  height: 400px;
  /* background-color: #bf132b; */
}
/* 카테고리 테마별 */
.ctg_list > .theme {
  width: 150px;
  height: 470px;
  background-color: #fff;
}
.theme::after {
  position: relative;
  top: -265px;
  display: block;
  content: "";
  height: 340px;
  border-right: 1px solid #888;
}
.theme li {
  position: relative;
  z-index: 2;
  cursor: pointer;
  font-size: 17px;
  width: 60px;
  color: #888;
  font-weight: bold;
  margin: 0px 0px 15px 40px;
  padding: 2px;
}
.theme li:hover {
  background-color: rgb(235, 235, 235);
}
.theme li:first-child {
  margin-top: 40px;
}
/* 카테고리 검색태그 */
.ctg_list > .hash_sch {
  width: 230px;
  height: 470px;
  background-color: #fff;
}
.hash_sch li {
  cursor: pointer;
  font-size: 17px;
  color: #888;
  font-weight: bold;
  width: 100px;
  margin: 0px 0px 15px 40px;
  padding: 2px;
}
.hash_sch li:hover {
  background-color: rgb(235, 235, 235);
}
.hash_sch li:first-child {
  margin-top: 40px;
}
.ctg_all {
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding-left: 10%;
  display: flex;
  align-items: center;
  height: 30px;
}
.ctg_all:hover > span {
  color: #f64646;
}
.ctg_all span {
  font-size: 14px;
  font-weight: 600;
  color: #777;
}

.header_in_bottom .nav2 {
  width: 700px;
  height: 65px;
  /* background-color: skyblue; */
  display: flex;
  justify-content: flex-end;
}
.header_in_bottom .nav2 ul {
  width: 350px;
  height: 65px;
  /* background-color: pink; */
  padding-top: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header_in_bottom .nav2 ul li {
  width: 150px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
}

.header_in_bottom .nav2 ul li a {
  font-size: 20px;
  color: #666;
  font-weight: 700;
}
.header_in_bottom .nav2 ul li a:hover {
  color: #f64646;
}
.header_in_bottom .nav2 ul li a div:first-child {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background-color: #f64646;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.header_in_bottom .nav2 ul li a div:last-child {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  margin-left: 6px;
  font-size: 16px;
}
