.main {
  width: 100%;
  min-width: 1350px;
  height: 5000px;
  /* background-color: chocolate; */
}
/* 메인이미지 */
.mainImg {
  width: 100%;
  height: 725px;
  position: relative;
  overflow: hidden;
  background-color: #f8f8f8;
  z-index: 0;
}
/* 메인 슬라이드 화살표 버튼 */
.mainImg .mainSlideBtn_container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mainImg .mainSlideBtn_container > div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 330px;
  width: 1550px;
}
.mainImg .mainSlideBtn {
  width: 40px;
  height: 70px;
  background: url('./img/visual_arrow.png');
  cursor: pointer;
  z-index: 15;
}
#mainSlideRight {
  background-position: right;
}
/* 슬라이드 리스트 */
.mainImg .mainSlideListBtn_container {
  width: 100%;
  position: absolute;
  top: 640px;
  display: flex;
  justify-content: flex-start;
  z-index: 15;
  padding-left: 320px;
}
.mainImg .pageBtn {
  letter-spacing: -1.5px;
  color: #fff;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 18px;
}
.mainImg .pageBtn > div {
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 0;
  display: inline-block;
  content: '';
  margin: 0 6px;
}

.mainSlide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 725px;
  display: flex;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transform: scale(1.2);
}
.mainSlide_on {
  position: absolute;
  opacity: 1;
  top: 0;
  width: 100%;
  height: 725px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.mainSlide > div {
  position: absolute;
  width: 2000px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 메인 슬라이드 내용 MainSlideExp*/
.MainSlideExp_container {
  width: 2000px;
  display: flex;
  justify-content: center;
  /* z-index: 3; */
}
.MainSlideExp_container > div {
  width: 1350px;
  height: 450px;
  /* background-color: bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* 키워드 상단 밑줄 */
.keyTop {
  width: 1350px;
  height: 50px;
  /* background-color: pink; */
  display: flex;
  align-items: center;
}
.keyTop h2 {
  padding-left: 5px;
  font-size: 30px;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* 키워드 중간 */
/* 키워드 하단 제일 큰 글씨 */
.keyMiddle {
  width: 1350px;
  height: 50px;
  display: flex;
  align-items: center;
  /* background-color: rgb(250, 102, 127); */
}
.keyMiddle p {
  padding-left: 5px;
  font-size: 30px;
  color: #fff;
  font-weight: 500;
}
/* 키워드 하단 제일 큰 글씨 */
.keyBottom {
  width: 1350px;
  height: 150px;
  /* background-color: rgb(248, 77, 105); */
  display: flex;
  align-items: center;
}
.keyBottom h2:first-child {
  font-size: 55px;
  color: #fff;
  font-weight: 500;
}
.keyBottom h2:last-child {
  font-size: 60px;
  color: #fff;
}
/* 해쉬버튼 클릭 시 검색 */
.hashBtn {
  width: 1350px;
  height: 100px;
  display: flex;
  align-items: center;
  /* background-color: rgb(252, 47, 81); */
}
.hashBtn input {
  float: left;
  font-size: 20px;
  color: #666;
  border: 0;
  width: auto;
  height: 40px;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  margin-right: 10px;
  margin-bottom: 8px;
}

/* 메인버튼 클릭 시 해당 카테고리 또는 링크로 이동*/
.mainBtn {
  width: 1350px;
  height: 60px;
  /* background-color: rgb(248, 28, 65); */
}
.mainBtn input {
  border: 0;
  padding: 15px 40px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #f64646;
  cursor: pointer;
}
.mainBtn input:hover {
  background-color: #bf132b !important;
}
/* ///////////////////////////// */

/* 인기 메뉴*/
.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 1350px;
  height: 715px;
  background-color: greenyellow;
}

.popular > div {
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 500px;
  background-color: gold;
}
.popular > div > ul {
  width: 300px;
  height: 500px;
  background-color: aqua;
}
.popular > ul > li > a {
}
/* 이건 어때요? 인기 검색어 */
.popular_sch h2 {
  font-size: 35px;
}
.popular_sch h2:nth-child(2)::after {
  display: block;
  content: '';
  width: 40px;
  border-bottom: 2px solid #000;
  margin-top: 12px;
  margin-bottom: 5px;
}
.popular_sch p {
  color: #666;
}
/* 해쉬버튼 */
.hash {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}
.hash li {
  display: inline-block;
  width: auto;
  background-color: #fff;
  border-radius: 50px;
  border: 1px solid #c1c1c1;
  padding: 4px 8px;
  margin-right: 10px;
  margin-bottom: 6px;
}
.hash li:hover {
  background-color: #f64646;
}
.hash li:hover > a {
  background-color: #f64646;
  color: #fff;
}
.hash li input {
  border: 0;
  background: transparent;
  font-size: 20px;
  color: #666;
  font-weight: 500;
  cursor: pointer;
}
.hash li:hover > input {
  background-color: #f64646;
  color: #fff;
}
/* 키즈 셰프 레시피 */
.kidsChef {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.kidsChef > .miniSlide_container {
  display: flex;
  position: absolute;
  width: 1500px;
  height: 450px;
}
.miniSlide_container_on {
  display: flex;
  position: absolute;
  width: 1500px;
  transition: all 0.3s ease-in-out;
}
.miniSlide_container_off {
  display: flex;
  position: absolute;
  width: 1500px;
  transition: none;
}
.miniSlide {
  width: 300px;
  height: 450px;
}
/* 미니 슬라이드 */
/* 레시피 상단 */
.kidsChef_Rcp {
  width: 300px;
  height: 130px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* 레시피 이미지 */
.kidsChef_img {
  width: 300px;
  height: 220px;
  background-color: rgb(250, 109, 132);
  display: flex;
  justify-content: center;
}
.kidsChef_img > div {
}
/* 레시피 이름,태그 */
.kidsChef_name {
  width: 300px;
  height: 100px;
  background-color: rgb(250, 76, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.kidsChef_name > div {
}
/* 미니 슬라이드 컨트롤러 */
.miniSlide_controller {
  position: absolute;
  top: 450px;
  width: 300px;
  height: 50px;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* 미니 슬라이드 컨트롤러 페이지 뷰 */
.miniSlide_pgView {
  height: 30px;
  color: #333;
  font-size: 18px;
  letter-spacing: 5px;
}
/* 미니 슬라이드 컨트롤러 버튼 */
.miniSlide_arrow {
  cursor: pointer;
  font-size: 20px;
  color: #333;
  margin: 0 10px;
}

/* 최근 본 레시피 */
.recentRcp {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.recentRcp h2 {
  color: #333;
}
.recentRcp p {
  color: #666;
  padding: 30px 0;
}
.recentRcp > div {
  /* padding: 150px 40px;
  border: 5px solid rgb(160, 147, 147); */
}
.recentRcp:hover > div {
  /* transition: all 0.3s ease-in-out;
  border: 5px solid rgb(112, 24, 24); */
}
.recentRcp:not(:hover) > div {
  transition: all 0.3s ease-in-out;
}
.rcp_img {
  width: 300px;
  height: 200px;
  background-color: red;
}
/* 계량 팁 */
.tip {
}
.tip > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 40px 20px;
  cursor: pointer;
}
.tip h2 {
  letter-spacing: -1.5px;
  font-size: 33px;
  color: #fff;
}
.tip p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  letter-spacing: -1.5px;
  padding: 20px 0;
}

/* 메뉴바 */
.menubar {
  width: 100%;
  min-width: 1350px;
  height: 405px;
  background-color: rgb(224, 224, 77);
}
/* 추천레시피 */
.recommend {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1350px;
  height: 1200px;
  background-color: purple;
}
.recommend > ul {
  width: 1350px;
  height: 1200px;
  background-color: violet;
}
.recommend ul li {
}
.recommend_header {
  text-align: center;
  width: 1350px;
  height: 200px;
  background-color: white;
}
.recommend_header li {
  padding-bottom: 15px;
}
.recommend_header li:first-child {
  padding-top: 50px;
}
.recommend_header li:first-child:after {
  display: block;
  content: '';
  width: 20px;
  border-bottom: 1px solid #000;
  height: 10px;
  margin: 0 auto;
}
.recommend_content {
  display: flex;
  justify-content: space-between;
  width: 1350px;
  height: 1000px;
  background-color: brown;
}
.recommend_content li {
  float: left;
}
.recommend_content_left {
  width: 650px;
  height: 1000px;
  background-color: coral;
}
.recommend_content_left > li:first-child {
  width: 650px;
  height: 565px;
  background-color: yellow;
}
.recommend_content_left > li:last-child {
  width: 650px;
  height: 435px;
  background-color: antiquewhite;
}
.recommend_content_right {
  width: 650px;
  height: 1000px;
  background-color: gray;
}
.recommend_content_right > li:first-child {
  width: 650px;
  height: 435px;
  background-color: antiquewhite;
}
.recommend_content_right > li:last-child {
  width: 650px;
  height: 565px;
  background-color: yellow;
}
/* 셰프의 팁 */
.chef {
  width: 100%;
  min-width: 1350px;
  height: 800px;
  background-color: aqua;
}
.chef_header {
  text-align: center;
  width: 100%;
  min-width: 1350px;
  height: 200px;
  background-color: white;
}
.chef_header li {
  padding-bottom: 15px;
}
.chef_header li:first-child {
  padding-top: 50px;
}
.chef_header li:first-child:after {
  display: block;
  content: '';
  width: 20px;
  border-bottom: 1px solid #000;
  height: 10px;
  margin: 0 auto;
}
.chef_img {
  width: 100%;
  min-width: 1350px;
  height: 600px;
  background-color: lemonchiffon;
}
/* 인기 레시피 */
.popularRecipe {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1350px;
  height: 810px;
  background-color: skyblue;
}
.popularRecipe > div {
}
.popularRecipe_header {
  width: 1350px;
  height: 200px;
  background-color: blueviolet;
}
.popularRecipe_header {
  text-align: center;
  width: 100%;
  min-width: 1350px;
  height: 200px;
  background-color: white;
}
.popularRecipe_header li {
  padding-bottom: 15px;
}
.popularRecipe_header li:first-child {
  padding-top: 50px;
}
.popularRecipe_header li:first-child:after {
  display: block;
  content: '';
  width: 20px;
  border-bottom: 1px solid #000;
  height: 10px;
  margin: 0 auto;
}
.popularRecipe_img {
  width: 1350px;
  height: 610px;
  background-color: pink;
}
.popularRecipe_img ul {
  margin: 0 auto;
  width: 1240px;
  height: 610px;
  /* background-color: blue; */
}
.popularRecipe_img ul li {
  float: left;
  width: 290px;
  height: 290px;
  background-color: tomato;
  margin: 5px 10px 5px 10px;
}
.menubar_bottom {
  width: 100%;
  min-width: 1350px;
  height: 300px;
  background-color: brown;
}
